* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  color: #191819;
  background-color: #fff;
  font-size: 18px;
}

/* layout */
.container {
  width: 100%;
  max-width: 1350px;
  padding: 0 30px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}
/* end: layout */

/* links and buttons */
a {
  color: #0db4b9;
  text-decoration: none;
  transition: all 200ms linear;
}

a:hover {
  color: #009BA0;
  transition: all 200ms linear;
  text-decoration: none;
}

a:focus {
  outline: 0;
  box-shadow: 0 0 8px #0db4b9;
}

a i {
  transition: all 200ms linear;
}

.anchor-white {
  color: #fff;
  text-decoration: underline;
}

a:hover i,
a:focus i,
.anchor-white:hover,
.anchor-white:focus {
  color: #d6d6d6;
  
  transition: all 200ms linear;
}

.anchor-white:hover,
.anchor-white:focus {
  text-decoration: underline;
}
/* end: links and buttons */

/* lists */
ul,
ol {
  line-height: 1.6em;
}

ol {
  list-style-type: none;
  padding-inline-start: 0px;
}
/* end: lists */

/* typography */
h1,
.title-1 {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

h2,
.title-2 {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 40px 0;
}

h3,
.title-3 {
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 24px 0;
}

p {
  line-height: 1.6em;
  margin: 0 0 18px 0;
}

p:last-child {
  margin-bottom: 0px;
}

hr {
  width: 80px;
  margin: 0 auto;
  border-style: solid;
}
/* end: typography */

/* colors */
.text-white {
  color: #fff;
}

.bg-teal {
  background-color: #0db4b9;
}
/* end: colors */

/* utility classes */
.text-center {
  text-align: center;
}
/* end: utility classes */

/* text band */
.text-band {
  padding: 120px 0px;
}

.text-band--padding-sm {
  padding: 50px 0px;
}

.text-band-header {
  text-align: center;
  margin-bottom: 40px;
}

.text-band-header-lede {
  font-size: 28px;
}

.text-band-main {
  max-width: 750px;
  margin: 0 auto;
}

.text-band-image-row {
  text-align: center;
}

.text-band-image-avatar {
  max-width: 250px;
  width: 100%;
}

.text-band-icon-list {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  margin: 40px 0px 0px 0px;
}

.text-band-icon-list-item {
  margin-right: 40px;
}

.text-band-icon-list-item:last-child {
  margin-right: 0px;
}

.text-band-icon-list-item i {
  font-size: 45px;
  color: #fff;
}
/* end: text band */

/* media queries */
@media (max-width: 767px) {
  h1,
  .title-1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  h2,
  .title-2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  h3,
  .title-3 {
    font-size: 20px;
  }

  p {
    margin: 0 0 18px 0;
  }

  .text-band {
    padding: 80px 0px;
  }

  .text-band--padding-sm {
    padding: 40px 0px;
  }

  .text-band-header {
    margin-bottom: 20px;
  }

  .text-band-image-avatar {
    max-width: 200px;
  }
}

@media (max-width: 275px) {
  .text-band-icon-list {
    flex-direction: column;
  }

  .text-band-icon-list-item {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .text-band-icon-list-item:last-child {
    margin-bottom: 0px;
  }
}
/* end: media queries */